@media (min-width: 1025px) {
.btn-burger {
    display: none;
}

.mobile-container {
            display: none ;
            position: absolute;
            left: 0;
            top: 88px;
            width: 100%;
        }
}
