html {
font-family: $font-primary ;
font-size: $font-size;
scroll-behavior: smooth;
}



body {
    background-color: $bg-body;
    color: $color-text;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

section {
    margin-bottom: $section-margin;
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
    font-weight: 500;
    line-height: 1.09;
    color: $color-title;
}

h1, .h1 {
 font-size: 80px;
 font-weight: 800;
}

h2, .h2{
 font-size: 48px;   
}

h3, .h3 {
 font-size: 32px;
 font-weight: 800;   
}

h4, .h4 {
 font-size: 26px;
}

h5, .h5 {
 font-size: 24px;   
}

h6, .h6 {
 font-size: 20px;   
}

.template-title {
    max-width: 570px;
    margin-bottom: 56px;

    h1, h2 {
        margin-bottom: 56px;
    }

    h2 {
        @extend .h1;
    }

    h6 {
        color: $color-text;
        font-weight: 400;
    }
    &.template-title_row,
    &.template-title_row-reverse {
        display: flex;
        max-width: 908px;
        gap: 72px;
        align-items: center;

        h1, h2, h6 {
            margin-bottom: 0;
            min-width: 440px;
        }
    }
    &.template-title_row-reverse {
        flex-direction: row-reverse;
    }
}

a {
    color: $color-text;
    &:hover {
        color: $secondary-color;

    }
}

.btn-row {
    display: flex;
    gap: 16px;
    flex-wrap: wrap;
    align-items: flex-end;
}

.btn {
    padding: 23px 53px;
    border-radius: 45px;
    display: inline-block;
    transition: 0.3s;
    font-size: 24px;
    position: relative;
    &:before {
        content: ""; 
        @include transform-centered;
        width: 0;
        height: 0;
        background: url(assets/img/template-decoration-green.png) center/contain no-repeat;
        transition: .3s;

    }
    &:hover {
      color: $color-title;
        &:before {
            width: 350px;
            height: 350px;
            z-index: -1;
        }
    }
    
    &.btn-primary {
        background: $background-gradient;
        font-weight: 600;
        color: $color-title; 
    }

    &.btn-secondary {
        background: $bg-body;
        padding: 20.5px 53px;
         &:before {
        background: url(assets/img/template-decoration-light-white.png) center/contain no-repeat;
        &:after {
            content: "";
            @include transform-centered;
            border: 3px;
            background-image: linear-gradient(173deg, #dadada 0%, rgba(218, 218, 218, 0) 100%);
            width: calc(100% + 5px);
            height: calc(100% + 5px);
            z-index: -1;
            border-radius: 45px;
        }
    }
    }
    &.btn-sm {
       padding: 17px 39px;
       font-weight: 500;
       font-size: 17px;
    }
}

.btn-arrow {
    --size: 84px;
    --border-radius: 29px;
    --border-width: 3px;
    width: calc(var(--size) - var(--border-width) * 2);
    height: calc(var(--size) - var(--border-width) * 2);
   
    border-radius: var(--border-radius);
    background-color: $bg-footer;
    padding: 25px;
    @include flex-centered;
    position: relative;
    &:after {
        content: "";
        position: absolute;
        left: 50%;
        top: 50%;
        background-image: $background-gradient;
        width: calc(100% + var(--border-width));
        height: calc(100% + var(--border-width));
        border-radius: calc(var(--border-radius) + 1px);
        z-index: -1;
        transform: translate(-50% , -50%);
    }
}

.icon-svg {
    height: inherit;
    width: inherit;
}

.banner .container {
    display: flex;
    justify-content: space-between ;
    gap: 24px;
}


.container {
    max-width: 1278px;
    padding-left: 12px;
    padding-right: 12px;
    margin-right: auto;
    margin-left: auto;
}

.selection {
    color: $primary-color;
    background-color: $bg-footer;
}

.show {
    display: block !important;
}

.logo {
    max-width: 195px;
}

.text-gradient {
background-clip: text;
color: transparent;
background-image: $background-gradient;
}

.label {
   --size: 184px;
   --this-size: calc(var(--size) - 33px);
   width: var(--this-size);
   height: var(--this-size);
   font-size: 38px;
   display: flex;
   justify-content: center;
   align-items: center;
   font-weight: 500;
   text-transform: uppercase;
   text-align: center;
   position: relative;
   border-radius: 50%;
   box-shadow: -4.56px 15.52px 26.48px #143e2875;
   z-index: 1;
   &.label_text-large {
   font-size: 62px;
   }
   &.label_sm {
   --size: 133px;
   font-size: 32px;
   }
   &:before {
    content: "";
    @include transform-centered;
    width: var(--size);
    height: var(--size);
    background: url(assets/img/label.png) center/contain no-repeat;
    z-index: -1;
   }
}